<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.me.inner.mapper.RecordMapper">
    
    <select id="listRecordByCriteria" parameterType="java.lang.String" resultType="com.me.inner.dto.RecordDTO">
        SELECT
            r.recordId_n AS recordId,
            r.type_x AS type,
            r.late_c AS late,
            r.count_n AS count,
            r.weight_n AS weight,
            r.price_n AS price,
            r.amount_n AS amount,
            r.desc_x AS description,
            r.record_dt AS recordDate,
            DATE_FORMAT(r.record_dt, '%Y-%m-%d') AS recordDateStr,
            r.active_c AS active,
            r.crtBy_m AS createBy,
            r.crtOn_dt AS createDate,
            c.value_x AS typeDisplay
        FROM cf_record r
        LEFT JOIN cf_code c ON r.type_x = c.name_x
        WHERE r.type_x = #{type} AND r.active_c = 'A'
        <if test="startDate!=null and endDate!=null">
            r.record_dt BETWEEN #{startDate} AND #{endDate}
        </if>
        ORDER BY r.record_dt DESC, r.crtOn_dt DESC
    </select>

    <insert id="saveRecord" parameterType="com.me.inner.dto.RecordDTO" keyColumn="recordId_n" keyProperty="recordId" useGeneratedKeys="true">
        INSERT INTO cf_record
        (
            type_x,
            late_c,
            count_n,
            weight_n,
            price_n,
            amount_n,
            desc_x,
            record_dt,
            active_c,
            crtBy_m,
            crtOn_dt
        )
        VALUES
        (
            #{type, jdbcType=VARCHAR},
            #{late, jdbcType=CHAR},
            #{count, jdbcType=INTEGER},
            #{weight, jdbcType=DOUBLE},
            #{price, jdbcType=DOUBLE},
            #{amount, jdbcType=DOUBLE},
            #{description, jdbcType=VARCHAR},
            #{recordDate, jdbcType=TIMESTAMP},
            #{active, jdbcType=CHAR},
            #{createBy, jdbcType=VARCHAR},
            #{createDate, jdbcType=TIMESTAMP}
        )
    </insert>
    
    <update id="deleteRecord">
        UPDATE cf_record SET active_c = 'I'
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="type!=null and type!=''">
                AND type_x = #{type, jdbcType=VARCHAR}
            </if>
            <if test="recordDate!=null">
                AND record_dt = #{recordDate, jdbcType=TIMESTAMP}
            </if>
        </trim>
    </update>

    <select id="countRecord" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM cf_record WHERE type_x = #{type, jdbcType=VARCHAR} AND DATE_FORMAT(record_dt, '%Y-%m-%d') = #{recordDate, jdbcType=TIMESTAMP}
    </select>

</mapper>