<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.me.inner.mapper.RecordMapper">
    
    <select id="listRecordByType" parameterType="java.lang.String" resultType="com.me.inner.dto.RecordDTO">
        SELECT
            recordId_n AS recordId,
            categoryId_n AS categoryId,
            type_x AS type,
            late_c AS late,
            count_n AS count,
            weight_n AS weight,
            price_n AS price,
            amount_n AS amount,
            desc_x AS description,
            record_dt AS recordDate,
            active_c AS active,
            crtBy_m AS createBy,
            crtOn_dt AS createDate
        FROM cf_record
        WHERE type_x = #{type} AND active_c = 'A'
        ORDER BY record_dt DESC, crtOn_dt DESC
    </select>

    <insert id="saveRecord" parameterType="com.me.inner.dto.RecordDTO" keyColumn="recordId_n" keyProperty="recordId" useGeneratedKeys="true">
        INSERT INTO cf_record
        (
            type_x,
            late_c,
            count_n,
            weight_n,
            price_n,
            amount_n,
            desc_x,
            record_dt,
            active_c,
            crtBy_m,
            crtOn_dt
        )
        VALUES
        (
            #{type, jdbcType=VARCHAR},
            #{late, jdbcType=CHAR},
            #{count, jdbcType=INTEGER},
            #{weight, jdbcType=DOUBLE},
            #{price, jdbcType=DOUBLE},
            #{amount, jdbcType=DOUBLE},
            #{description, jdbcType=VARCHAR},
            #{recordDate, jdbcType=TIMESTAMP},
            #{active, jdbcType=CHAR},
            #{createBy, jdbcType=VARCHAR},
            #{createDate, jdbcType=TIMESTAMP}
        )
    </insert>
    
    <update id="deleteRecord">
        UPDATE cf_record SET active_c = 'I'
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="type!=null and type!=''">
                AND type_x = #{type, jdbcType=VARCHAR}
            </if>
            <if test="recordDate!=null">
                AND record_dt = #{recordDate, jdbcType=TIMESTAMP}
            </if>
        </trim>
    </update>

    <select id="countRecord" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM cf_record WHERE type_x = #{type, jdbcType=VARCHAR} AND DATE_FORMAT(record_dt, '%Y-%m-%d') = #{recordDate, jdbcType=TIMESTAMP}
    </select>

</mapper>