body {
	padding-right: 30px;
	padding-bottom: 50px;
}
.background-blue {
	background-color: #0066FF;
	font-weight: bold;
}
.background-red {
	background-color: #CC0000;
	font-weight: bold;
}
.background-yellow {
	background-color: #FF9900;
	font-weight: bold;
}
.background-purple {
	background-color: #FF66CC;
	font-weight: bold;
}
.body-font {
	font-size: 20px;
	font-weight: bolder;
}
.title-font {
	color: #fff;
	font-size: 15px;
}