body {
	padding-right: 30px;
	padding-bottom: 50px;
}
.page-header {
	font-weight: normal;
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}
.datetimepicker {
	cursor: pointer;
}
.form-padding {
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
}
.form-inline .form-group {
	padding-left: 20px;
}
.btn-duty {
	margin-left: 20px;
}
.table-padding {
	padding-top: 20px;
}
.table thead {
	font-size: 20px;
	font-weight: bold;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	vertical-align: middle;
}
.table td {
	text-align: center;
}
